spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/metrics_db
    username: metrics_user
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080